<!--day4 day5--> 
h1 {



  color: rgb(16, 16, 219);
  width: 200px;
  text-overflow: clip;
}
h1:hover {
  color: white;
}
h2 {
  position: absolute;
  height: 50px;
  width: fit-content;
  border-radius: 20px;
  margin-top: -30px;
  background-color: aquamarine;
  position: sticky;
  top: 15px;
  animation: myAnimation 1s ease-in-out .5s infinite forwards;
}
@keyframes myAnimation{
  0%{
    background-color: blue;
    
    transform: rotate(0deg);
  }
  50%{
    background-color: black;
    transform:  translateX(200px) rotate(180deg);
    /* transform: t */
  }
  100%{
    background-color: yellow;
    transform:  translateX(0) rotate(360deg);
    

  }

}
h2:hover {
  color: blue;
}
/* section{
  display: flex;
  
  
} */
 main{
  background-color: white;
  border: solid;
  max-width: clamp(50%,50vw, 50%);
  margin: auto;
  border-radius: 20px;
 }
 .login-page{
   align-items: center; 
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 30px;
  
  border-color: grey;
  width: 300px;
  height: 400px;
  background-color: white;
  
  padding: 20px;
  
  
 }
 .login-page input{
  
  margin: 15px;
  
  border: hidden;
  border-bottom: lightgrey solid 2px;
 
  
  


  
  
  
  
 }
 .login-page button{
  display: block;
  background-color: rgb(201, 195, 195);
  width: 200px;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  color: black;
  border: none;
  font-size: 15px;


 }
 .Forgot{
  margin-bottom: 20px;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 20px;
  
 }
 .p{
  display: flex;
  align-items: start;
  justify-content: center;
  /* margin: auto; */
  font-size: 20px;
}


 .login-page h1{
  margin: auto;

  border: hidden;
 }
 .login-page h1:hover{
  opacity: 1;
  
  
 }


hr{
  width: 100%;
  color: rgb(255, 255, 255);
}
body{
  /* background:linear-gradient(to right,purple, blue); */
  max-width: clamp(50%, 100vw, 100%); 
  
}
  



 

