<div class="partial" data-name="dashboard">
  <div class="partial-nav">
    <button data-page="dashboard" class="menu-item dynamic active">
      Dashboard
    </button>
  </div>

  <div class="partial-content" data-page="dashboard" data-title="Dashboard">
    <section id="dashboard" class="page active-page">
      <p
        id="displayRegNo"
        style="font-size: 0.85rem; color: #666; margin-top: 5px"
      ></p>
      <div class="cards-row">
        <div class="card">
          <div class="card-title">Courses Registered</div>

          <div id="totalCourses" class="card-value">0</div>
        </div>

        <div class="card">
          <div class="card-title">Results Published</div>
          <div id="stat-results" class="card-value">0</div>
        </div>

        <div class="card">
          <div class="card-title">Fees Paid</div>
          <div id="feesPaid" class="card-value">0 NGN</div>
        </div>

        <div class="card">
          <div class="card-title">CGPA</div>
          <div id="cgpaCard" class="card-value">0.00</div>
        </div>
      </div>

      <div class="two-col">
        <div class="panel">
          <h3>Announcements</h3>
          <div id="announcements" class="announcements">
            <p class="muted">No new announcements.</p>
          </div>
        </div>

        <div class="panel">
          <h3>Upcoming Tasks & Deadlines</h3>
          <ul id="upcoming" class="task-list">
            <li class="muted">No pending tasks.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="../scripts/dashboard-client.js"></script>
