<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="partial" data-name="lecturers">
      <div class="partial-nav">
        <button data-page="lecturers" class="menu-item dynamic">
          Lecturer Directory
        </button>
      </div>

      <div
        class="partial-content"
        data-page="lecturers"
        data-title="Lecturer Directory"
        style="display: none"
      >
        <section id="lecturers" class="page">
          <h3>Lecturer Directory</h3>
          <div id="lecturerList" class="list panel"></div>
        </section>
      </div>
    </div>
  </body>
</html>
