<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="partial" data-name="signout">
      <div class="partial-nav">
        <a href="login.html">
          <button  class="menu-item dynamic">
            Sign Out
          </button>
        </a>
      </div>
      <!-- <div
        class="partial-content"
        data-page="signout"
        data-title="Sign Out"
        style="display: none"
      >
        <section id="signout" class="page">
          <h3>Sign Out</h3>
        </section>
      </div> -->
    </div>
  </body>
</html>
