body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #f2f3f7;
    }

    header {
        background: #85d89e;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .container {
        max-width: 750px;
        margin: 40px auto;
        background: #fff;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 6px 24px rgba(0,0,0,0.12);
    }

    h2 {
        margin-top: 0;
        color: #1a237e;
        font-size: 20px;
        border-left: 4px solid #3949ab;
        padding-left: 10px;
    }

    input[type="file"] {
        padding: 10px;
        width: 100%;
        border: 2px solid #d3d3d3;
        border-radius: 8px;
        margin-bottom: 12px;
    }

    input[type="text"], input[type="password"] {
        border: 2px solid #bdbdbd;
        border-radius: 8px;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    label {
        font-weight: 500;
        color: #3949ab;
        margin-bottom: 6px;
        display: block;
    }

    button {
        background: #51975c;
        color: white;
        border: none;
        padding: 12px 20px;
        width: 100%;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
    }

    button:hover {
        background: #569159;
    }

    button.active {
        background: #2e7d32 !important;
    }
    /* --- SAFE WATERMARK OVERLAY --- */
/* --- WATERMARK OVERLAY (Black Remover) --- */
/* --- WATERMARK OVERLAY (Fixed for Light Images) --- */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Your Image Path */
  background-image: url('../nacos.png'); 
  
  background-repeat: no-repeat;
  background-position: center;
  
/* CHANGE THIS: Use 'px' instead of '%' to stop blurry stretching */
  background-size: 500px; 
  
  /* Optional: Tries to make resizing sharper */
  image-rendering: -webkit-optimize-contrast;
  
  /* OPACITY CONTROL: 
     0.1 = Very Faint
     0.3 = Visible
     0.5 = Strong 
  */
  opacity: 0.5; 
  
  z-index: 100;
  pointer-events: none; /* Allows clicks to pass through */

  
}